<style type="text/css">
    body {
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        padding: 1em;
    }

    h1 {
        color: #333;
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }

    h2 {
        color: #b81a1a;
    }

    h3 {
        color: #930fad;
    }

    .title {
        color: #333;
    }

    .subtitle {
        color: #333;
    }

    .content {
        color: #333;
    }

    ul {
        list-style-type: none;
        padding: 0;
    }

    li {
        background-color: #6ceeba;
        padding: 1em;
        margin: 0.5em;
        border-radius: 5px;
        display: inline-block;
    }

    a {
        color: #333;
        text-decoration: none;
    }

    a:hover {
        color: #666;
    }

    img {
        vertical-align: middle;
    }

    figure {
        text-align: left;
    }

    #bio {
        margin-top: 2em;
    }

    #contact {
        margin-top: 2em;
        border-top: 1px solid #333;
    }

    article > h3 {
        margin: 0;
    }

    article > span {
        display: block;
        padding-left: 1em;
    }
</style>